# Process of gathering data

## Working with csv files

In [2]:
import pandas as pd
#we can simply load csv file or we can load it from url as below
# A valid CSV URL from a public GitHub repo
url = "https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Titanic.csv"  # Titanic dataset :contentReference[oaicite:0]{index=0}

df = pd.read_csv(url)

print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB
None
(1309, 14)

### sep perameter
    handling tab separated values tsv
    use sep='/t' and provide columns names i.e names=['name', 'rating','genre']
    example: pd.read_csv('tab separated file', sep='/t', names=['name', 'rating','genre'])

#### index_col perameter
    -sometime we have index and another column like roll_No  then we can set roll_No as index column i.e index_col='roll_No'

#### header perameter
    -sometime columns name is treating as first row so we can convert that first row as column 
    i.e pd.read_csv('test.csv',header= 1)

#### use_cols perameter
    -use to fetch only those columns which are needed  like below is real example

In [3]:
df = pd.read_csv('imdb-top-1000.csv',usecols=['Series_Title', 'IMDB_Rating','No_of_Votes','Released_Year'])
df.head()
df.sort_values(ascending=False,by='IMDB_Rating')

                 Series_Title Released_Year  IMDB_Rating  No_of_Votes
0    The Shawshank Redemption          1994          9.3      2343110
1               The Godfather          1972          9.2      1620367
4                12 Angry Men          1957          9.0       689845
2             The Dark Knight          2008          9.0      2303232
3      The Godfather: Part II          1974          9.0      1129952
..                        ...           ...          ...          ...
995    Breakfast at Tiffany's          1961          7.6       166544
996                     Giant          1956          7.6        34075
997     From Here to Eternity          1953          7.6        43374
998                  Lifeboat          1944          7.6        26471
999              The 39 Steps          1935          7.6        51853

[1000 rows x 4 columns]

### squeez perameter
    -convert dataframe into series(only one column)
    - df = pd.read_csv('imdb-top-1000.csv',usecols=['Series_Title'],squeeze=True)

#### skiprows/nrows
    -skiprows=something skip rows if needed  we can aplly logic like lambda etc to fetch specific rows
    -nrows=100 To fetch only 100 rows

### encoding perameter
    -utf-8 is in most of the cases but some dataset have different encoding so they will not work so u have to pass i.e
    - zomato = pd.read_csv('zomato.csv', encoding='latin-1')

### skip bad lines
    -sometime u will face parser error mean there will be some bad rows so deal with it we can use it 
    -i.e error_bad_lines-False => it will skip and remove all bad lines and will print only valid data

### dtype perameter
    used to change data type i.e dtype={'column_name':int}

### Date handling
    - date by default is string so we can convert it to date formate i.e pd.read_csv('ipl.csv',parse_dates=['column_name'])

### na_values perameter
    -used to remove or replace values by NaN i.e na_values=['value_name ']

### loading a huge dataset in chunks
    - when we have big dataset we can divide it into chunks i.e chunksize=5000 so now we can loop it equally divide the dataset


---

# Working with JSON/SQL

In [4]:
import pandas as pd
pd.read_json('archive/test.json')

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

In [5]:
#we can also fetch from link like
pd.read_json('https://dummyjson.com/products')

                                             products  total  skip  limit
0   {'id': 1, 'title': 'Essence Mascara Lash Princ...    194     0     30
1   {'id': 2, 'title': 'Eyeshadow Palette with Mir...    194     0     30
2   {'id': 3, 'title': 'Powder Canister', 'descrip...    194     0     30
3   {'id': 4, 'title': 'Red Lipstick', 'descriptio...    194     0     30
4   {'id': 5, 'title': 'Red Nail Polish', 'descrip...    194     0     30
5   {'id': 6, 'title': 'Calvin Klein CK One', 'des...    194     0     30
6   {'id': 7, 'title': 'Chanel Coco Noir Eau De', ...    194     0     30
7   {'id': 8, 'title': 'Dior J'adore', 'descriptio...    194     0     30
8   {'id': 9, 'title': 'Dolce Shine Eau de', 'desc...    194     0     30
9   {'id': 10, 'title': 'Gucci Bloom Eau de', 'des...    194     0     30
10  {'id': 11, 'title': 'Annibale Colombo Bed', 'd...    194     0     30
11  {'id': 12, 'title': 'Annibale Colombo Sofa', '...    194     0     30
12  {'id': 13, 'title': 'Bedside Table African Che...    194     0     30
13  {'id': 14, 'title': 'Knoll Saarinen Executive ...    194     0     30
14  {'id': 15, 'title': 'Wooden Bathroom Sink With...    194     0     30
15  {'id': 16, 'title': 'Apple', 'description': 'F...    194     0     30
16  {'id': 17, 'title': 'Beef Steak', 'description...    194     0     30
17  {'id': 18, 'title': 'Cat Food', 'description':...    194     0     30
18  {'id': 19, 'title': 'Chicken Meat', 'descripti...    194     0     30
19  {'id': 20, 'title': 'Cooking Oil', 'descriptio...    194     0     30
20  {'id': 21, 'title': 'Cucumber', 'description':...    194     0     30
21  {'id': 22, 'title': 'Dog Food', 'description':...    194     0     30
22  {'id': 23, 'title': 'Eggs', 'description': 'Fr...    194     0     30
23  {'id': 24, 'title': 'Fish Steak', 'description...    194     0     30
24  {'id': 25, 'title': 'Green Bell Pepper', 'desc...    194     0     30
25  {'id': 26, 'title': 'Green Chili Pepper', 'des...    194     0     30
26  {'id': 27, 'title': 'Honey Jar', 'description'...    194     0     30
27  {'id': 28, 'title': 'Ice Cream', 'description'...    194     0     30
28  {'id': 29, 'title': 'Juice', 'description': 'R...    194     0     30
29  {'id': 30, 'title': 'Kiwi', 'description': 'Nu...    194     0     30

# with SQL
 #### steps
 - Download SQL dataset
 - Download xxamp or wamp  
 - create database and import your dataset
 - and then u have to connect the database with python by downloading mysql.connector and then follow the below steps   
             import pandas as pd  
             import mysql.connector  
 - create database connection i.e  
             connection = mysql.connector.connect(  
             host="localhost",  
             user="root",  
             password="your_password",  
            database="your_database"  
            )  
 - write your SQL Querry  
            query = "SELECT * FROM your_table;  
            df = pd.read_sql(query, connection)  
            connection.close()

In [6]:
#practical Example
import pandas as pd
# import mysql.connector

# Connect to database
# connection = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="1234",
#     database="student_db"
# )

# SQL query
# query = "SELECT * FROM students;"

# Fetch data
# df = pd.read_sql(query, connection)

# Print first 5 rows
# print(df.head())

# Close connection
# connection.close()

### Working with API

In [7]:
import requests
import pandas as pd
res = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

df = pd.DataFrame(res.json()['results'])[['title','release_date','overview','vote_average','vote_count']]

In [8]:
df

,title,release_date,overview,vote_average,vote_count
0,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,8.712,29229
1,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",8.684,22071
2,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,8.571,13340
3,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,8.566,16863
4,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,8.549,9531
5,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",8.534,17649
6,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,8.524,34710
7,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",8.515,4518
8,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,8.502,18549
9,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",8.496,19714
10,The Lord of the Rings: The Return of the King,2003-12-17,As armies mass for a final battle that will de...,8.490,25673
11,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",8.488,29286
12,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,8.479,12107
13,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,8.463,9257
14,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,8.463,28860
15,Interstellar,2014-11-05,The adventures of a group of explorers who mak...,8.462,38254
16,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",8.453,13786
17,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,8.451,4029
18,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",8.447,6200
19,Life Is Beautiful,1997-12-20,A touching story of an Italian book seller of ...,8.439,13633

In [11]:
import numpy as np
dfs = []
for i in range(1,10): #526  ->total pages but it will take a lot of time so i just fetching 10 pages in this case
    res = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    df = pd.DataFrame(res.json()['results'])[['title','release_date','overview','vote_average','vote_count']]
    dfs.append(df)
all_df = pd.concat(dfs, ignore_index=True)

In [13]:
all_df.head(100)

,title,release_date,overview,vote_average,vote_count
0,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,8.712,29229
1,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",8.684,22071
2,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,8.571,13340
3,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,8.566,16863
4,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,8.549,9531
...,...,...,...,...,...
95,Out of the Clear Blue Sky,2019-12-24,"Returning to Earth as an imitator, the legenda...",8.225,364
96,Come and See,1985-10-17,The invasion of a village in Belarus by German...,8.200,1697
97,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",8.224,12373
98,Saving Private Ryan,1998-07-24,"As U.S. troops storm the beaches of Normandy, ...",8.221,16653
99,Gladiator,2000-05-04,"After the death of Emperor Marcus Aurelius, hi...",8.220,20225